CORS_ORIGIN=*

NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user_name
DB_PASSWORD=your_password
DB_DATABASE=your_db_name

REDIS_HOST=localhost
REDIS_PORT=6379

ERD_FIXTURE_PATH=""

GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_REDIRECT_URI=your_redirect_uri

JWT_SECRET=your_jwt_secret

NCP_ACCESS_KEY=YOUR_ACCESS_KEY_HERE
NCP_SECRET_KEY=YOUR_SECRET_KEY_HERE
NCP_REGION=kr-standard
NCP_ENDPOINT=https://kr.object.ncloudstorage.com
NCP_BUCKET=boostadad-campaign-images
